{% load static %}


        <!-- Header
		============================================= -->
		<header id="header" class="transparent-header">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							{% for i in contacts %}
							<a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{i.header_logo.url}}" alt="Altynshohle"></a>
							<a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{{i.header_logo.url}}" alt="Altynshohle"></a>
							{% endfor %}
						</div><!-- #logo end -->

					

							
							

				

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item">
									<a class="menu-link" href="/"><div>Esasy</div></a>
									
								</li>
								<!-- <li class="menu-item">
									<a class="menu-link" href="#"><div>Services</div></a>
								</li> -->
								<li class="menu-item">
									<a class="menu-link" href="{% url 'all_products' %}"><div>Harytlar</div></a>
									<ul class="sub-menu-container">
										{% for i in category %}
											<li class="menu-item">
												<a class="menu-link" href="{% url 'products' i.id %}"><div>{{i.name}}</div></a>
											</li>
										{% endfor %}							
									</ul>
								</li>
								<li class="menu-item">
									<a class="menu-link" href="{% url 'about_us' %}"><div>Biz barada</div></a>
								</li>

								<li class="menu-item">
									<a class="menu-link" href="{% url 'contact' %}"><div>Habarlaşmak üçin</div></a>
									
								</li>
								<li class="menu-item">
									<a class="menu-link" ><div>TM</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item">
											<a class="menu-link" href="/" style="background-color: #e74d3c69; border-radius: 5px;"><div>TM</div></a>
										</li>
										<li class="menu-item">
											<a class="menu-link" href="/ru/"><div>RU</div></a>
										</li>
										<li class="menu-item">
											<a class="menu-link" href="/eng/"><div>ENG</div></a>
										</li>										
									</ul>
								</li>
						

							</ul>


						</nav><!-- #primary-menu end -->
					

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->