{% load static %}


        <!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div class="container">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">





						
						<div class="col-lg-6">

							<div class="widget clearfix">

								{%for i in contacts%}                 
								<img src="{{i.footer_logo.url}}" alt="Image" class="footer-logo">

								<div class="py-2" style="background: url('images/world-map.png') no-repeat center center;">
									<div class="row col-mb-30">
										<div class="col-6">
											<address class="mb-0">
												<abbr title="Headquarters" style="display: inline-block;margin-bottom: 7px;"><strong>Наш адресс:</strong></abbr><br>
												{{i.address}}<br>
											</address>
										</div>
										<div class="col-6">
											<abbr title="Phone Number"><strong>НАШ НОМЕР ТЕЛЕФОНА:</strong></abbr> {{i.phone}}<br>
											<abbr title="Email Address"><strong>НАША ЭЛЕКТРОННАЯ ПОЧТА:</strong></abbr> {{i.email}}
										</div>
									</div>
								</div>
								<div class="social-link">
									
	
									<a href="{{i.gmail}}" class="social-icon si-small si-rounded topmargin-sm si-gmail">
										<i class="icon-gmail"></i>
										<i class="icon-gmail"></i>
									</a>
	
									<a href="{{i.tiktok}}" class="social-icon si-small si-rounded topmargin-sm si-tiktok">
										<i class="icon-tiktok"></i>
										<i class="icon-tiktok"></i>
									</a>
									{% endfor %}
									
								</div>
								

							</div>

						</div>

						<div class="col-sm-6 col-lg-6">

							<div class="widget clearfix">
								<h4 style="padding-top: 15%;">АЛТЫН ШОХЛЕ Ч.П</h4>
								{%for i in contacts%}                 
								
								<div class="posts-sm row col-mb-30" id="post-list-footer">
									<div class="entry col-12">
										<div class="grid-inner row">
											<div class="col">
												<div class="entry-title">
													<h4 >{{i.mini_desc}}</h4>
												</div>
												
											</div>
										</div>
									</div>

								</div>
								{% endfor %}
							</div>

						</div>

						
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="w-100 h-50 text-center">
						<div class="footer_link" style="display: flex;
						justify-content: space-between;">
							<p>"Altyn Şöhle H.K" &copy; 2022 Все права защищены.</p> 
							<a href="https://www.sanly-achar.com/">Powered by Sanly Achar Comp</a>
							
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->